html {
  width: 100%; /* Ensure the html takes the full width */
  height: 100%; /* Ensure the html takes the full height */
  position: relative;
}

body {
  padding: 0;
  text-align: center;
  display: flex; /* Add Flexbox */
  justify-content: center; /* Center horizontally */
  padding-top: 20px;
  height: 100vh;
  width: 100vw;
  margin: 0; /* Remove default margin */
  display: flex; /* Add Flexbox */
  position: relative;
}

main {
  position: relative;
}

#logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#logo img {
  width: auto; /* Set specific width */
  height: 80px; /* Maintain aspect ratio */
}

#L {
  animation: MoveUpDown1 5s linear infinite;
}

#I {
  animation: MoveUpDown1 5s linear infinite;
  animation-delay: 1s;
  animation-fill-mode: both;
}

#N {
  animation: MoveUpDown1 5s linear infinite;
  animation-delay: 2s;
  animation-fill-mode: both;
}

#K {
  animation: MoveUpDown1 5s linear infinite;
  animation-delay: 3s;
  animation-fill-mode: both;
}

@keyframes MoveUpDown1 {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes MoveUpDown2 {
  0%,
  100% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
}

#game-intro {
  display: block;
  padding: 50px 0px;
  width: 60%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 650px;
  background-image: url(images/space2.jpg);
  background-repeat: repeat-y;
  background-size: auto 800px;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -800px;
  }
}

#game-intro,
#stats,
#game-end {
  margin-top: 60px;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

#game-end {
  padding-top: 100px;
}

#stats {
  position: absolute;
  bottom: 300px;
  width: 100%;
  text-align: center;
  top: 450px;
}

#game-container {
  display: flex;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(images/space2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-size: auto 800px;
  animation: slide 10s linear infinite;
}

.wrapper-child {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #8a2be2;
}

/* @keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
} */

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #6d58e2;
  color: #fff;
  padding: 15px 60px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
}

.animation {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.pulsate {
  animation: pulsate 1s infinite;
}

.pulsate2 {
  animation: pulsate 0.5s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    filter: invert(10%);
  }
  100% {
    transform: scale(1);
  }
}

.explode {
  animation: explode 0.5s forwards;
}

@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.player,
.player2 {
  transition: transform 0.5s ease-in;
}

.player-img {
  width: 10%;
  height: auto;
  vertical-align: middle;
  animation: MoveUpDown2 5s linear infinite;
}

#start-button {
  font-weight: 600;
}

#restart-button {
  font-weight: 600;
}

#menu-button {
  background-color: #272532;
}

#score-text {
  display: none;
}

#music-parent {
  position: absolute;
  width: 8%; /* Set a specific width for the container */
  height: 8%; /* Set a specific height for the container */
  top: 600px;
  right: 20px;
}

#music-on,
#music-off {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure the images take up the full width of the container */
  height: auto; /* Ensure the images take up the full height of the container */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

